:root {
    --quote-blue: #407BFF;
    --green-main: #33CA99;
    --texts: #757575;
}

a, p, h1, h2, li, body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: none;
    text-decoration: none;
}

.fale-especialista {
    background-color: white;
    padding: 10px 25px;
    border-radius: 0.5em;
    color: #33ca99;
    border: none;
    text-decoration: none;
}

/* *header 1 */

#header-site {
    background-image: url(/img/sobre-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-site {
    background: linear-gradient(90deg, #33C199 0%, #337399 98.98%);
    mix-blend-mode: hard-light;
}

.nav-item:last-child {
    border: 1px solid white;
    border-radius: 6px;
    margin-left: 20px;
}

nav img {
    width: 60%;
    padding-left: 0.5em;
}

.navbar {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.nav-item, .nav-item:link, .nav-ite:visited {
    color: white;
}

.nav-item:hover, .nav-item:active {
    text-shadow: 0 0 1px #fff;
    color: whitesmoke;
}

.nav-item {
    margin-left: 1em;
}

.dropdown-menu {
    border: 0px solid transparent;
    background: transparent;
}

.dropdown-item, .dropdown-item:link, .dropdown-menu:visited {
    color: white;
}

.dropdown-item:hover, .dropdown-item:active {
    text-shadow: 0 0 1px #fff;
    color: whitesmoke;
    background: transparent;
}

.row {
    position: relative;
    justify-content: space-around;
}

.bloco-img {
    position: relative;
    top: -110px;
}

.center {
    text-align: center;
    color: white;
    padding: 20px 0 150px 0;
}

.center h2 {
    font-weight: 800;
}

/* *header  2*/

#header-site2 {
    background-image: url(/img/recursos-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center2 {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 100px 0;
}

.center2 h2 {
    font-weight: 800;
}

.center2 p {
    width: 300px;
    margin-top: 20px;
}

/* ?DEPOIMENTOS  */

.bgcolor-azul {
    background-color: #336a99;
    color: #757575;
}

.depositions {
    background: white;
    padding: 1em 1em;
    border-radius: 5px;
    position: relative;
    top: -50%;
    left: 0%;
    transform: translate(10px, 70px);
}

.message-deposition {
    text-align: center;
    padding: 0.5em 0.5em;
}

.title-deposition {
    font-weight: 900;
    font-size: 30px;
    color: #33CA99;
    margin-top: 50px;
}

.depoimentos-titles .linha-azul {
    width: 150px;
    border-bottom: 5px solid #336a99;
    border-radius: 10px;
}

.depoimentos-titles p {
    margin-top: 10px;
}

@media (min-width:350px) and (max-width:990px) {
    .title-deposition {
        font-size: 20px;
    }
    nav img {
        width: 40%;
        padding-left: 0.5em;
    }
}

/*
* Configurações de slide depoimentos
*/

* {
    box-sizing: border-box;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-slide img {
    margin: 1em auto 2em!important;
}

/* ?MARCAS  */

.marcas {
    padding: 60px 0;
    margin-top: 100px;
}

.marcas h4 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #757575;
}

/* ?FALE CONOSCO  */

.fale-conosco:link, .fale-conosco:visited {
    background-color: transparent;
}

.fale-conosco h2 {
    color: #33CA99;
    font-weight: 900;
    margin-top: 40px;
}

.fale-conosco-p {
    color: #757575;
    line-height: 1.2;
    margin: 20px 0;
}

.first-block-fale-conosco {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.block-fale-conosco a {
    padding: 40px 20px;
    background: white;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.block-fale-conosco a img {
    width: 45px;
    height: 45px;
}

@media (max-width:770px) {
    .img-fale-conosco {
        display: none;
    }
    .footer-bloco {
        padding: 1em;
        text-align: center;
    }
}

/* ?FOOTER  */

footer {
    background: linear-gradient(98.02deg, #33CA99 1.19%, #336A99 99.88%);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.footer h2 {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 10px 0;
}

.footer p, .footer p a {
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    margin: 0;
    max-width: 200px;
    text-decoration: none;
}

.footer-bloco {
    margin: 0 10px;
    justify-self: center;
}

.footer-bloco img {
    width: 50%;
}

.footer-bloco p a, .footer-bloco p a:link, .footer-bloco p a:visited {
    color: white;
}

.footer-bloco p a:hover, .footer-bloco p a:active {
    text-shadow: 0 0 1px #fff;
    color: whitesmoke;
}

.fale-especialista:link, .fale-especialista:visited {
    background-color: white;
    padding: 1em 2em;
    border-radius: 10px;
    color: #33ca99;
    font-weight: bold;
    text-decoration: none;
}

.fale-especialista:hover, .fale-especialista:active {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.last {
    margin-top: 10px;
}

.last h2 {
    margin-top: 20px;
    text-align: right;
}

.last p {
    text-align: right;
}

.rodape {
    color: white;
    padding-bottom: 2em;
}

.rodape-direitos {
    width: 50%;
    margin-top: 1.0em;
}

.rodape-feito {
    width: 50%;
}

.rodape-feito-direita {
    float: right;
}

@media (min-width:350px) and (max-width:830px) {
    .last h2 {
        text-align: center;
    }
    .last p {
        text-align: center;
    }
    .footer-bloco>p {
        margin: 0 auto;
    }
    .last {
        margin: 20px 0;
    }
}

/* ?TRANSFORME SUA EMPRESA  */

.row-content {
    display: flex;
}

.transforme-sua-empresa {
    background-color: #336a99;
    padding: 1em 5em;
    color: white;
    border-radius: 1em;
    margin: 4em 0em;
    position: relative;
}

.transforme-sua-empresa img {
    width: 50%;
    position: absolute;
}

.informacao-empresa h2 {
    font-weight: 900;
}

.informacao-empresa p {
    margin: 0px;
    padding: 20px 0;
    width: 400px;
}

@media (min-width:350px) and (max-width:990px) {
    .transforme-sua-empresa img {
        display: none;
    }
    .rodape {
        text-align: center;
    }
    .informacao-empresa {
        margin: 0 auto;
        text-align: center;
    }
}

/* !SOBRE */

/* *MAIN CONTENT  */

.blockquote {
    position: relative;
}

.blockquote p {
    margin: 50px auto;
    width: 500px;
    font-weight: 900;
    font-size: 35px;
    color: var(--quote-blue);
    line-height: 1.2;
    z-index: 2;
    position: relative;
}

.aspas-top {
    width: 50px;
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: 1;
}

.aspas-bottom {
    width: 50px;
    position: absolute;
    bottom: 15px;
    right: 70px;
    transform: scaleX(-1);
}

.sobre-bloco {
    position: relative;
    margin-top: 100px;
}

.h4 {
    background: #33CA99;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-align: center;
    width: 350px;
    padding: 10px 30px;
    position: absolute;
    left: -60px;
}

.about-text {
    color: #757575;
    padding: 90px 0;
}
@media (max-width:990px) {
    .blockquote p {
        width: auto;
    }
    .bloco-img {
        position: initial;
        margin-top: 20px;
    }
}
@media (max-width:770px){
    .blockquote p{
        font-size: 30px;
        text-align: center;
    }
    .sobre-bloco{
        margin-top: 0;
    }
    .about-text{
        font-size: 20px;
    }
}

/* !PLANOS  */

/* *planos  */

.menu-industria-representantes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.industria-representantes {
    border: 1px solid #757575;
    box-sizing: border-box;
    border-radius: 2px;
    width: 260px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: none;
    text-align: center;
    color: #757575;
    cursor: pointer;
}

.industria-representantes:hover {
    color: #33C199;
    background: white;
    border-color: #33C199;
}

.btn {
    background: #336a99;
    color: white;
    border-color: #336a99;
}

.industria-representantes a:link, .industria-representantes a:visited {
    color: #336a99!important;
    text-decoration: none!important;
}

.industria-representantes a:hover, .industria-representantes a:active {
    color: white!important;
    text-decoration: none!important;
    background: #336a99!important;
}

#industria {
    display: flex;
    justify-content: space-around;
}

.planos {
    min-width: 250px;
    margin: 20px 1em;
    padding: 2em 0.5em;
    color: #757575;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.planos h3 {
    color: #336a99;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.plan-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 5px;
}

.planos p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.planos ul li {
    font-size: 13px;
}

.gostei-dessa {
    background-color: #52ca98;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    color: white;
    border: none;
    text-decoration: none;
}

.blue-bold {
    font-weight: 900;
    font-size: 40px;
}

.planos .preco {
    font-weight: 400;
    font-size: 25px;
    align-items: baseline;
    margin-bottom: 0;
}

.plans-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diamant-plan {
    background-color: #52ca98;
    color: white;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.diamant-plan h3 {
    color: #f6ffbc;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diamant-plan .gostei-dessa {
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    color: #52ca98;
    border: none;
    text-decoration: none;
}

.pro-plan {
    background-color: #336a99;
    color: white;
}

.pro-plan h3 {
    color: #f6ffbc;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro-plan .gostei-dessa {
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    color: #52ca98;
    border: none;
}

.pro-plan .gostei-dessa:hover, .diamant-plan .gostei-dessa:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.gostei-dessa:hover {
    background-color: white;
    border: 1px solid var(--green-main);
    color: var(--green-main);
    transition: 0.5s;
}

@media (max-width:750px) {
    .planos ul {
        padding: 0;
        margin: 0;
    }
    .planos ul li {
        text-align: center;
    }
}

/* !RECURSOS  */

.rectangle {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.rectangle::before {
    content: '';
}

.green-rectangle {
    background-color: #52ca98;
    padding: 10px 15px;
    width: 300px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 5%;
    left: 0%;
    transform: translate(0%, 0%);
}

.green-rectangle strong {
    padding-left: 20px;
}

.white-rectangle {
    padding: 2em;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 10px;
    line-height: 1.2;
    color: #767473;
}

.white-rectangle p {
    padding: 2em;
}

.recursos-imagem {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* !CLIENTES  */

.clientes {
    margin: 1em auto 1em;
}

.gray {
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -ms-filter: grayscale(1);
}

/* !CONTATO  */

.contato-p {
    color: #878b8e;
    font-weight: 500;
    width: 400px;
}

.enviar-mensagem {
    background-color: #52ca98;
    border-color: #52ca98;
    padding: 0.5em 2em;
}

.form-control {
    background-color: #f3f3f3;
    border: none;
    padding: 10px 20px;
    margin: 15px 0;
}

.form-floating label {
    color: #878b8e;
}

.form-select {
    background-color: #f3f3f3;
    border: none;
    padding: 10px 20px;
    margin: 15px 0;
    color: #878b8e;
}

/* !INDEX  */

/* !HEADER  */

header {
    background: linear-gradient(98.02deg, #33CA99 1.19%, #336A99 99.88%);
    margin-bottom: 70px;
}

.header-simbol-bg {
    background-image: url(/img/simbol_banner.png);
    background-repeat: no-repeat;
    background-position: left;
}

.header-titulo {
    font-weight: bold;
    font-size: 200%;
}

.header-subtitulo {
    font-size: 100%;
    max-width: 350px;
    margin-top: 1em;
}

.link-menu {
    padding: 0 10px;
}

@media (min-width: 400px) {
    .h-menu {
        padding: 20px 50px;
    }
    .h-menu-nav {
        display: flex;
        margin: 0 auto;
    }
    @media (min-width: 400px) {
        .h-menu {
            margin: 0 20px;
        }
    }
    .header-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
        color: white;
    }
    .header-main-content h1 {
        font-weight: 900;
        font-size: 60px;
        line-height: 1.2;
        width: 500px;
        padding-top: 10px;
        justify-self: center;
    }
    .header-main-content p {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.3;
        width: 400px;
        padding: 20px 0 50px 0;
    }
    .btn-white {
        background: white;
        color: var(--green-main);
        font-weight: bold;
        font-size: 18px;
        padding: 20px 60px;
        border-radius: 11px;
    }
    .header-imgs {
        z-index: 3;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 30px;
    }
    .header-imgs img {
        max-width: 550px;
        max-height: 550px;
    }
    .bg-triangulo {
        position: absolute;
        width: 100%;
        height: 150px;
        background-color: white;
        top: 640px;
        transform: skewY(354deg);
        z-index: 0;
    }
    @media (max-width:1100px) {
        .header-main {
            justify-content: center;
            padding-bottom: 40px;
        }
        .header-main-content p {
            padding: 20px 0;
            margin: 20px 0;
        }
        .header-imgs {
            margin: 20px 0;
        }
        .header-imgs img {
            max-height: 300px;
            max-width: 300px;
        }
        .bg-triangulo {
            display: none;
        }
    }
    @media (max-width:850px) {
        .header-main {
            text-align: center;
        }
        .header-main-content p {
            margin: 0 auto;
            padding: 40px 0;
        }
        .header-imgs {
            display: none;
        }
    }
    /* -fim do header index  */
    .bgcolor-azul {
        background-color: #336a99;
    }
    .bgcolor-bege {
        background-color: #e5e5e5;
    }
    .bgcolor-green {
        background-color: #52ca98;
    }
    .text-green {
        color: #33ca99;
    }
    .text-blue {
        color: #336a99;
    }
    .white-square {
        width: 70px;
        height: 70px;
        padding: 20px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .transforme-sua-empresa {
        background-color: #336a99;
        padding: 1em 5em;
        color: white;
        border-radius: 1em;
        margin: 4em 0em;
        position: relative;
    }
    .transforme-sua-empresa img {
        width: 50%;
        position: absolute;
        top: 65%;
        right: 0%;
        transform: translate(0%, -50%);
    }
    #escondido {
        display: none;
    }
    .linha-azul {
        width: 150px;
        margin: 1em 0em;
        border-bottom: 5px solid #336a99;
        border-radius: 10px;
    }
    .imagem .center {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    #imagem-logo {
        background-image: linear-gradient(to right, #33ca99, #337699);
        opacity: 0.9;
        height: 100%;
        overflow: hidden;
    }
    .imagem-logo {
        background-image: url('../img/simbol_banner.png');
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 637px 717px;
    }
    /*
* Configurações de page index
*/
    .space-and-marge {
        margin-top: 5em;
    }
    .title-index {
        color: #33ca99;
        font-weight: bold;
    }
    .title-green {
        background-color: #52ca98;
        padding: 0.7em 2em;
        width: 400px;
        border-radius: 5px;
        color: white;
        position: absolute;
        top: -20%;
        left: -5%;
        transform: translate(0%, 0%);
    }
    .title-blue {
        background-color: #336a99;
        width: 50px;
        height: 50px;
        color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 40%;
        left: -5%;
        transform: translate(0%, 0%);
        padding: 1em 1em;
    }
    .title-text {
        padding: 2.5em 2em;
        position: relative;
        bottom: 0;
    }
    .title-info {
        margin: 1em;
        color: var(--texts);
    }
    .index-space {
        margin-top: 5em;
    }
    .index-margin {
        margin-right: 1em;
    }
    .index-padding {
        padding: 0em 3em;
    }
    @media (max-width:966px) {
        .title-green {
            width: 320px;
            font-size: 12px;
            text-align: center;
        }
        .title-text {
            padding: 20px 30px;
            max-width: 260px;
            max-height: 260px;
        }
        .title-info {
            padding: 0 10px;
        }
        .index-content-img {
            align-self: flex-end;
        }
    }
    @media (max-width:770px) {
        .index-content-img {
            display: none;
        }
        .title-text {
            max-width: 360px;
            max-height: 360px;
            margin: 20px 0;
        }
        .title-green {
            margin: 20px 0;
            width: 400px;
        }
        .index-space {
            margin-top: 0;
        }
        .title-index {
            margin: 20px 0;
        }
        .title-info {
            padding: 10px 0;
        }
    }
    /* RECURSOS INDEX  */
    .recursos-quadrados {
        margin: 0.3em;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        padding: 0.5em auto 0.5em;
        width: 200px;
        height: 200px;
    }
    .recursos-quadrados img {
        margin-top: 2em;
    }
    .recursos-quadrados h5 {
        color: #52ca98;
        margin-top: 1em;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .recursos-quadrado-verde {
        margin: 0.5em;
        background-color: #52ca98;
        border-radius: 10px;
        text-align: center;
        padding: 0.5em auto 0.5em;
        width: 200px;
        height: 200px;
    }
    .recursos-quadrado-verde a {
        text-decoration: none;
    }
    .recursos-quadrado-verde h5 {
        color: white;
        margin-top: 3em;
    }
}

/* !ECOMERCE  */

.ecommerce {
    margin: 5em auto 1em;
}

/* RECURSOS INDEX  */

.ecommerce h3 {
    margin-top: 1em;
    color: #52ca98;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.recursos-quadrados {
    margin: 0.3em;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em auto 0.5em;
    width: 200px;
    height: 200px;
}

.ecommerce-title {
    margin-top: 3em;
    padding-left: 1em;
}

.recursos-quadrados img {
    margin-top: 2em;
}

.linha-cinza {
    width: 100%;
    margin: 1em 0em;
    border-bottom: 1px solid black;
}

.recursos-quadrados h5 {
    color: #52ca98;
    margin-top: 1em;
}

.menu-ecommerce {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    cursor: pointer;
}

.recursos-quadrado-verde {
    margin: 0.5em;
    background-color: #52ca98;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em auto 0.5em;
    width: 200px;
    height: 200px;
}

.ecommerce-link {
    margin-left: 2em;
    color: black;
    text-decoration: none;
}

.menu-ecommerce a:hover, .menu-ecommerce a:active {
    font-weight: bold;
    text-decoration: none;
}

.recursos-quadrado-verde h5 {
    color: white;
    margin-top: 3em;
}

.ecommerce-image-01 {
    position: relative;
    top: -10%;
    left: 0%;
    transform: translate(0px, 0px);
}

.ecommerce-image-02 {
    position: relative;
    left: 0%;
    bottom: 5%;
    transform: translate(0px, 0px);
}

.ecommerce-bege-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-green-ecommerce {
    color: #52ca98;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.menu-ecommerce .area-ativa {
    color: var(--green-main);
    border-bottom: var(--green-main);
}

.area-ativa::after {
    content: "";
    width: 20px;
    height: 5px;
    background: var(--green-main);
    margin: 0 auto;
    display: block;
}
@media (max-width:770px){
    .ecommerce-title{
        text-align: center;
    }
    .menu-ecommerce{
        justify-content: space-between;
    }
    .img-ecommerce{
        display: none;
    }
    .ecommerce-image-01, .ecommerce-image-02{
        display: none;
    }
}